.prod-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.prod-list .prod {
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #bbb;
  border-radius: 5px;
  margin-bottom: 15px;
}

.prod-list .prod img {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto 10px;
}

.prod-list .prod .prod-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.prod-list .prod .prod-desc {
  font-size: 14px;
  margin-bottom: 15px;
}

.prod-list .prod .prod-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prod-list .prod .prod-price-box .prod-price {
  font-size: 28px;
  color: #d25900;
  font-weight: bold;
}

.prod-list .prod .prod-price-box .prod-buy {
  display: block;
  border: none;
  background: #067306;
  border-radius: 5px;
  height: 25px;
  width: 75px;
  color: #fff;
  text-transform: uppercase;
  outline: 0;
  cursor: pointer;
}