.cart-list {
  &-item {
    border-bottom: solid 1px #adadad;
    &:last-child {
      border: none;
    }
  }
  &__index {
    width: 20px;
  }
  &__title {
    width: 150px;
  }
  &__qty {
    width: 35px;
    margin-left: 10px;
  }
  &__price {
    width: 25px;
    margin: 0 10px;
  }
  &__remove {
    width: 26px;
  }
}