<app-header></app-header>

<main>
  <div class="wrap">
    <div class="main-page">
      <div class="main-page__prodlist" [ngClass]="{ 'full-width': !cartProducts.length }">
        <app-prod-list [products]="products" (onAddToCart)="addToCart($event)"></app-prod-list>
      </div>
      <div class="main-page__cart" *ngIf="cartProducts.lenth">
        <app-cart [cartProducts]="cartProducts" (onRemoveCartItem)="removeCartItem($event)"></app-cart>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
